/* logo font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* body font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.header{
  background-image: url('../Assets/Hero-bg.png');
  background-position: 100%;
}

/* nav syles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

/* nav-logo */
.raleway-normal{
  font-weight: 900px ;
  font-size:34px ;
  color: #4E47FF;
}

nav ul li{
  list-style: none;
}

/* button signup */
.btn-primary{
  background-color: #4E47FF;
  font-weight: bold;
  color:  #FFFFFF;
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  /* position: relative; */

}
nav li .btn-primary:hover{
  background-color: aqua;
}
/* banner section */

.banner{
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 905px;
  max-height: 223.59px;
  margin: auto;
  /* position: relative ; */
  gap: 37px;
}
.banner-title{
  justify-content: center;
  width: 905px;
  height: auto;
  font-weight: bold ;
  color: #252432;
  font-size: 65px ;
  /* font-family: raleway; */
  
}
.btn-secondery{
  display: block;
  justify-content: center;
  margin: 0 auto;
  background-color: #4E47FF;
  font-weight: bold;
  color:  #FFFFFF;
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  /* position: relative; */
}
.banner .btn-secondery:hover{
   background-color: aqua;
}
/* Action section */
.action{
  max-width: 900px;
  margin: 50px 0 ;
  padding: 20px;
}
main{
  max-width: 1140px;
  max-width: 380px;
  margin: 0 auto; 
}

.pre-section{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  /* flex-wrap: wrap; */
  /* margin: 0 auto; */

}

/* action section */
.text-area{
  max-width: 517px;
  max-height: 203px;
  padding: 130px 150px;
  gap: 220px;
}
.text-area h2{
  width: 517px;
  height: 49px;
  color: #252432;
  display: inline;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;

}
.text-area p{
  color: #252432;
  font-size: 16px;
  margin-bottom: 15px;

}
.preview-btn{
  display: flex;
  background-color: #4E47FF;
  font-weight: bold;
  color:  #FFFFFF;
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  max-width: 229px;
  max-height: 48px;
  
}
.preview-btn:hover{
  background-color: aqua;

}
.img2{
  width: 403px ;
  height: 328px ;
  border-radius: 48px;
}















